.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.teamCard {
  max-width: 350px;
  margin: 30px 20px;
}

.teamList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nav{
  position: fixed;
  max-height: 10px;
}

.navbar{
  /* background: linear-gradient(to right, #494e6b 0%, #B6a19e 100%); */
  background: #013852 ;
  color: white
}

.nav-logo{
  margin-right: 20px;
}

.white {
  color: white!;
}
.cardImg {
  size: 70px
}
.button{
  margin-top: 100px
}
.homeImage {
  /* margin: 0 auto; */
    height: 550px;
    width: auto;
    margin-bottom: 30px
}
.homeImage img {
  height: 550px;
  width: auto;
  object-fit: cover;
  bottom: 0;

}
.teamCard:hover{
  box-shadow: 5px 10px 20px 1px rgba(2, 2, 2, 0.5)!important;
}

.footer {
  background: #013852 ;
  color: "white"
}